* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  margin: 20px;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: lightblue;
}

p {
  text-align: center;
  color: lightblue;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.linea {
  width: 20%;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

caption {
  color: white;
  margin-bottom: 1rem;
}

input {
  height: 2rem;
  width: 10rem;
  text-align: center;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid black;
  color: black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: white;
}

tr {
  background-color: white;
}

#buscar {
  margin-top: 2rem;
}

#buscar:hover {
  background-color: lightblue;
  color: black;
}
